<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

	<title><%= (title = yield :title).blank? ? "RecipeLa" : title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800" rel="stylesheet">
  <%= render 'routes' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= yield :meta_tags %>
  <%= render "analytics" %>
</head>
<body class="<%= body_class %>" data-user="<%= raw current_user.try(:to_json) %>">

  <%= render partial: "header" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  <%= render partial: 'footer' %>

</body>

</html>
